/* Universal */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/* Root References */
:root {
    --clr_skyBlue: #2476FF;
    --font_link_clr: #677788;
    --font_clr_gray: #677788;
    --btn_bkg_clr: #2476FF;
    --bkg_clr_offWhite: #F8FAFE;
    --White: #ffffff;
    --Black: #000000;
    --text_lineHeight: 14.52px;
}
/* HTML */
html {
    scroll-behavior: smooth;
}
/* Body */
body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    position: relative;
}
.container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /*! Use Var */
    padding-left: 15px;
    padding-right: 15px;
}
p {

}
a {
    text-decoration: none;
}
button {
    border: none;
    outline: none;
    background: transparent;
}
span {

}
ul {
    list-style: none;
}
li {

}

/* Utility Classes */
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Animations */
