/* Universal */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Root References */
:root {
    --size_px_rem_5: ;
    --size_px_rem_10: ;
    --size_px_rem_15: ;
    --size_px_rem_20: ;
    --size_px_rem_30: ;
    --size_px_rem_40: ;
    --size_px_rem_50: ;
    --size_px_rem_60: ;
    --size_px_rem_80: ;
    --size_px_rem_100: ;
    --size_px_rem_130: ;
    --size_px_rem_150: ;
}
/* HTML */
html {
    scroll-behavior: smooth;
}
/* Body */
body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    position: relative;
}
.container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /*! Use Var */
    padding-left: 15px;
    padding-right: 15px;
}
p {

}
a {
    text-decoration: none;
}
button {
    border: none;
    outline: none;
    background: transparent;
}
span {

}
ul {
    list-style: none;
}
li {

}

/* Utility Classes */
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Animations */
