/* Navigation */
/* Front Logo */
nav .img img {
    width: 125px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 1rem 2rem;
    /* border: 1px solid red; */
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list-item {
    width: fit-content;
    margin-right: 20px;
}
.list-item a {
    width: fit-content;
    height: auto;
    padding: .25rem;
    display: inline-block;
    line-height: 16.94px;
    font-weight: 500;
    font-size: 14px;
    color: var(--font_link_clr);
    white-space: nowrap;
}
.list-item button {
    width: 102px;
    height: 45px;
    margin: 0;
    padding: 15px 25px;
    background: var(--btn_bkg_clr);
    text-align: center;
    border-radius: 30px;
    white-space: nowrap;
    color: var(--White);
    font-size: 12px;
    font-weight: 700;
    line-height: 14.52px;
}
.btn {
}
/* Hero */
.hero-wrapper {
    width: 100%;
    min-width: 375px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    column-gap: 10px;
    padding: 40px 30px 0 30px;

}
.hero-header {
    width: 100%;
    max-width: 375px;
    height: auto;
    padding: 0 0 4rem;
}
.hero-header h2 {
    width: 334px;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}
.hero-header > span {
    font-size: 14px;
    font-weight: 500;
    color: var(--font_clr_gray);
}
.hero-buttons {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 4rem 0;
}   
.hero-buttons button {
    margin-right: 24px;
    padding: 15px 25px;
    background: var(--btn_bkg_clr);
    text-align: center;
    border-radius: 30px;
    white-space: nowrap;
    color: var(--White);
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
}
.hero-buttons a {
    font-size: 14px;
    font-weight: 700;
    color: var(--clr_skyBlue);
}
.hero-buttons i{
    display: inline-block;
    font-size: 14px;
    background: white;
    color: rgb(36, 109, 255);
    border-radius: 50%;
    margin-right: 8px;
    padding: 0;
}
.hero-icon-container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 2rem 0;
    background: url(/Media/backgrounds/background-top.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

}
.hero-icon-container .img img {
    width: 32px;
    height: auto;
}
/* Section - Benefits */
.benefits {
    width: 100%;
    height: auto;
    margin: 120px 0 80px;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.benefits h2 {
    margin-bottom: 10px;
}
.benefits span {
    color: var(--font_clr_gray);
}
/* Section - Featured */
.benefits-wrapper {
    width: 100%;
    height: auto;
    padding: 120px 0 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    gap: 30px;
}
.benefit-item {
    width: 100%;
    height: auto;
    margin: 0 20px;
    padding: 20px;
    text-align: left;
    border: 1px solid var(--White);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.149);
}
.benefit-content h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.benefit-content p {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 1rem;
}
.benefit-item .img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.benefit-content .img img {
    width: 50px;
    height: auto;
}
.benefit-content a {
    font-size: 14px;
    font-weight: 700;
    color: var(--clr_skyBlue);
}
/* Section - Mission  */
.mission {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    align-items: center;
    gap: 10px;
    padding: 0 30px 80px;
}
.mission-header {
    width: 100%;
    height: auto;
    background: var(--bkg_offWhite);
    margin: 26px 0;
    padding: 10px 30px;
}
.mission-header h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 11px;
}
.mission-header button {
    padding: 15px 25px;
    background: var(--btn_bkg_clr);
    text-align: center;
    border-radius: 30px;
    white-space: nowrap;
    color: var(--White);
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
}
.mission .img {
    width: 100%;
}
.mission .img img {
    width: 100%;
    height: auto;
}
/* Section - Why Front? */
.why-front-wrapper {
    width: 100%;
    min-width: 375px;
    height: auto;
    margin: 0 0 40px;
    padding: 0 0 80px;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.why-front-wrapper h2 {
    margin-bottom: .75rem;
}
.why-front-wrapper p {
    font: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--font_clr_gray);
    text-align: center;
    word-wrap: break-word;
    margin: 0 auto;
}
.options {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0;
}
.option {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    padding: 1rem 0;
    flex: 1;
}
.option i {
    font-size: 6px;
    display: block;
    color: blue;
    margin-bottom: 2rem;
}
.option span {
    display: block;
}
/* Section - Video */
.video {
    width: 100%;
    height: auto;
    position: relative;
    margin: 10px 0;
    padding: 0 30px 80px;
}
.video .img {
    width: 100%;
    height: auto;
}
.video .img img {
    width: 100%;
    height: auto;
}
.video button {
    width: 64px;
    height: 64px;
    background: white;
    padding: 10px 0 10px 4px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.251);
    transform: translate(-50%, -50%);
}
/* Section - Testimonials */
.testimonials {
    width: 100%;
    height: auto;
    max-height: 560px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 50px;
    padding-bottom: 80px;
    margin-bottom: 80px;
}
.testimonial-imgs {
    position: relative;
}
.testimonials .img {
    display: block;
    width: 100%;
    max-width: 371px;
    height: auto;
    margin-left: auto;
}
.testimonials .img img {
    width: 100%;
    max-width: 452px;
    height: auto;
}
.testimonials .spec-img {
    width: 200px;
    height: auto;
    position: absolute;
    /* xl viewport / l viewport 111px 28px  */
    top: 111px;
    left: 28px;
    z-index: -1;
}
.testimonial-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding-right: 30px;
}
.testimonial {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
}

.testimonial img {
    width: 100px;
    height: auto;
    margin-right: auto;
}
.testimonial h3 {
    width: 100%;
    height: auto;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 3rem;
    text-wrap: balance;
}
.testimonial-name {
    width: 100%;
    height: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.testimonial-name h4 {
}
.testimonial-name span {
    display: block;
    color: gray;
    font-size: 12px;
}
/* Brands */
.brands {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    padding-bottom: 80px;
}
.brand-header {
    width: 100%;
    height: auto;
    flex: 1;
}
.brand-header h3 {
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: var(--font_clr_gray);
}
.brand-bar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 45px;
}
.brand .img {
    width: 100%;
    max-width: 112px;
    height: auto;
}
.brand .img img {
    width: 100%;
    height: auto;
}
